@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,300&display=swap');

/* font-family: 'Anton', sans-serif;
   font-family: 'Roboto', sans-serif; */

/* HEADER */
header{
    font-size: 25px;
    background-color: rgba(47, 77, 41, 0.986);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    width: 85%;
}

.main__index{
    background-color: rgba(50, 146, 37, 0.822) ;
}

.headerul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.headerli{
    list-style: none;
}

a{
text-decoration: none;
color: black;
}

.headerimg{
    width: 100px;
    height: 100px;
}

/* END HEADER */

/* MAIN */
.divmain1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mainh1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Anton', sans-serif;
    color: black;
}

.divmain2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#mainp1{
    font-family: 'Anton', sans-serif;
    color: black;
    background-color: rgba(0, 128, 0, 0.616);
    font-size: 20px;
}

#mainp2{
    font-family: 'Anton', sans-serif;
    color: black;
    background-color: rgba(0, 128, 0, 0.616);
    font-size: 20px;
}

.ph1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}


.divmain3{
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "img1 p1"
    "p2 img2"
    ;
}

#mainimg1{
    grid-area: img1;
    height: 400px;
}
#mainimg2{
    grid-area: img2;
    height: 400px;
}
#mainp1{
    grid-area: p1;
}
#mainp2{
    grid-area: p2;
}

/* ASIDE */
.main__aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 77, 41, 0.986);
    font-family: 'Anton', sans-serif;
}

#h2__aside{
    font-size: 40px;
}

#p__aside{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.input__aside{
    list-style: none;
}

.li__aside{
    list-style: none;
}

.follow__aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(47, 77, 41, 0.986);
    font-family: 'Anton', sans-serif;
}

.follow__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}
/* END ASIDE */
/* FOOTER */
footer{
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: stretch;
    grid-template-areas:
    "nav contact"
    "inicio redes"
}

#footer__title{
    grid-area: nav;
    font-size: 25px;
    font-family: 'Anton', sans-serif;

}

#footer_contact{
    grid-area: contact;
    font-size: 20px;
    font-family: 'hAnton', sans-serif;
}

#footer__redes{
    grid-area: redes;
}

#footer__inicio{
    grid-area: inicio;
}

.footer__{
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.footer__info{
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* MAIN CONTACT */

.main__contact{
    background-color: rgba(47, 77, 41, 0.986) ;
}

#contact__contact{
    display: flex;
    justify-content: center;
}

